.favorites-container{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.favorites-container h1{
    font-style: italic;
    margin: 4rem auto 2rem auto;
}
.favCard-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
    margin: 2rem auto 2rem auto;
    width: 70%;
    column-gap: 30px;
    row-gap: 20px;
}
.favorite-card{
    border: 1px solid #eee;
    box-shadow: 2px 3px 3px #ccc;
}
.favorite-card-body{
    background-color: whitesmoke;
}
.fav-icon-container{
    position: absolute;
    left: 290px;
    bottom: 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}
.fav-icon-container:hover{
    cursor: pointer;
    opacity: 0.5;
}