.service {
    text-transform: capitalize;
    text-align: center;    
    background: whitesmoke; 
}
.service-title {
    padding: 10px 0;
    font-size: 2rem;
    background-color: whitesmoke;
    font-style: italic;
}
.service-container {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 0 auto;
}
.service-container a{
    color: black;
    text-decoration: none;
}
.service-container a:hover{
    color: grey;
}
.service-container img{
    height:55px;
    width: 55px;
}
.service-container h6{
    margin-top: 10px;
}
@media screen and (min-width: 768px){
    .service-container img{
        height: 75px;
        width: 75px;
    }
}