.error-container{
    text-align: center;
    margin: 8rem auto;
}
.error-container h1{
    font-style: italic;
    padding-bottom: 20px;
}
.error-link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: green;
}
.error-link:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;
}

.product-title{
    margin: 2rem auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}
.singleitem-container{
    display: flex;
    margin: 3rem auto 5rem auto;
}
.image-content{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content img{
    width: 100%;
    padding: 5px;
}
.image-content img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.main-image{
    flex: 1;
}
.main-image img{
    width: 100%;
    padding: 5px;
}
.image-description{
    flex: 2;
    text-align: center;
}
.image-description h2{
    font-style: italic;
    text-transform: capitalize;
    text-decoration-line: underline;
    padding: 5px;
}
.image-description h5{
    text-transform: capitalize;
    margin-top: 3rem;
}
.image-description span{
    color: grey
}
.sizing{
    text-transform: capitalize;
    margin: 2rem auto ;
}
.image-description h6{
    text-align: left;
    margin: 20px;
    color: grey;
}
.save-button{
    margin: auto 8px;
    padding: 3px 6px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #ccc;
    border: 1px solid lightgreen;
}
.save-button:hover{
    opacity: 0.8;
}
.save-button:focus{
    outline:none;
}
.unsave-button{
    margin: auto 8px;
    padding: 3px 6px;
    background-color: rgb(253, 151, 139);
    border-radius: 5px;
    box-shadow: 2px 3px 3px #ccc;
    border: 1px solid coral;
}
.unsave-button:hover{
    opacity: 0.8;
}
.unsave-button:focus{
    outline: none;
}
.add-button{
    padding: 3px 6px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #ccc;
    border: 1px solid lightgrey
}
.add-button:hover{
    opacity: 0.8;
}
.add-button:focus{
    outline: none
}

.similar-container{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.similar-container h1{
    margin-bottom: 2rem;
}
.similar-dis{
    margin: 3rem auto 0rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    row-gap: 2rem;
    column-gap: 30px;
}
.similar-image{
    width: 100%;
    border-radius: 10px;
}
.similar-image:hover{
    opacity: 0.5;
}
.similar-item{
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 3px 3px #ccc;
}
.similar-item:hover{
    cursor: pointer;
}
.similar-body{
    background-color: whitesmoke;
}

