.brands-container{
    text-transform: capitalize;
    margin: 40px auto;
    width: 80%;
    height: 500px;
}
.list-container{
    list-style-position: inside;
    list-style: none;
    columns: 3;
    margin: 20px;
    column-gap: 10rem;
}
.list-container li{
    margin: 5px 10px;
    width: fit-content;
}
.list-container li a{
    color:black
}
.list-container li a:hover{
    color: grey;
    text-decoration: none;
}
.brand-container{
    text-align: center;
    text-transform: capitalize;
}
.brand-container h1{
    font-style: italic;
    font-weight: bold;
    margin: 4rem auto 1rem auto;
}
.brand-display{
    width: 70%;
    margin: 3rem auto 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    row-gap: 2rem;
    column-gap: 30px;
}
.brand-card{
    border-radius: 10px;
    border: solid 1px #eee;
    box-shadow: 2px 5px 3px #ccc;
}
.brand-image{
    border-radius: 10px;
    width: 100%;
}
.brand-image:hover{
    opacity: 0.5;
    cursor: pointer;
}
.brand-card-body{
    background-color: whitesmoke;
}
.brand-card-body h6, .brand-pricing:hover{
    cursor: default;
}
.brand-pricing{
    color:red
}
.icon-container{
    position: absolute;
    left: 290px;
    bottom: 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}
.icon-container:focus{
    outline: none;
}
.icon-disabled{
    color: red;
    opacity: 0.3;
}
.icon-active{
    color: green;
}
.icon-active:hover{
    color:lightgreen;
    cursor: pointer;
}
