.cat-error{
    text-align: center;
    margin: 8rem auto;
}
.cat-error h1{
    font-style: italic;
    margin-bottom: 3rem;
}
.cat-errorlink {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: green;
}
.cat-errorlink:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;
}

.cat-container{
    text-align: center;
    text-transform: capitalize;
}
.cat-title{
    font-style: italic;
    margin: 5rem auto;
}
.cat-display{
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    row-gap: 2rem;
    column-gap: 30px;
}
.cat-card{
    border-radius: 10px;
    border:1px solid #eee;
    box-shadow: 2px 3px 3px #ccc;
}
.imageContainer{
    width: 100%;
    border-radius: 10px;
}
.imageContainer:hover{
    opacity: 0.5;
    cursor: pointer;
}
.cat-cardtitle, .cat-cardsubtitle:hover{
    cursor: pointer;
}
.cat-cardsubtitle{
    color:red
}