.modal-container{
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-card{
    width: 560px;
    height: 600px;
    overflow: auto;
    margin: 10px auto;
    text-align: center;
    background: whitesmoke;
}
.modal-card-title{
    font-style: italic;
    padding: 10px;
}
.modalFlexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}
.modalFlexContainer img{
    height: 80px;
}
.modalFlexContainer img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.modalFlexContainer p{
    font-size: 1.1rem;
}
.modalFlexButton{
    background: transparent;
    outline: none;
    border:none;
    color: black;
}
.modalFlexButton:hover{
    color: grey;
}
.modalFlexButton:focus{
    outline: none;
}