.featured {
    text-align: center;
    text-transform: capitalize;
    /* background-image: url('../../images/backdrop2.jpg'); */
    background: whitesmoke;
}
.featured-title{
    font-size: 2rem;
    padding-top: 40px;
    background-color: whitesmoke;
    font-style: italic;
}
.featured-display{
    width: 60vw;
    margin: 15px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 2rem;
    column-gap: 40px;
}
.items{
    border-radius: 10px;
    background-color: lightgrey;
    margin: 20px auto;
}
.items:hover{
    background-color: darkgrey;
}
.img-container {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-container{
    background-color: lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.text-container:hover{
    cursor: pointer;
    background-color: grey;
}

