.navigatebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(188, 187, 187,0.5);
    z-index: 1;
  }
  .navigatebar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-wrapper{
    padding-left: 15px;
    background: transparent;
    border: none;
    font-size: 1.4rem;
  }
  .logo-wrapper a{
    color: black;
  }
  .logo-wrapper a:hover{
    color: grey;
  }
  .navigatebar-title{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
  }
  .navigatebar-title a{
    text-decoration: none;
    color: black;
  }
  .navigatebar-title a:hover{
    color: grey;
  }
  .logo-button{
    background: transparent;
    border: none;
    font-size: 1.2rem;
    padding-right: 15px;
    cursor: pointer;
  }
  .logo-button a{
    color:black;
    text-decoration: none;
  }
  .logo-button a:hover{
    color: grey;
  }

.listContainer {
  margin-top: 7px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  height: 0;
  overflow: hidden;
}
.listContainer a{
  color: black;
  text-decoration: none;
}
.listContainer a:hover{
  color:grey;
}
.showList {
  height: 35px;
}

@media screen and (min-width: 768px){
  .logo-wrapper{
    display: none;
  }
  .navigatebar-title {
    margin-left: 45%;
  }
  .listContainer {
    height: 37px;
  }
  .logo-button a{
    padding-right: 30px;
  }
}