.imgContainer {
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    /* background-color: #FAFBFB; */
    background: whitesmoke;
    padding-top: 3px;
}
.imgContainer img{
    width: 500px;
}

@media screen and (min-width: 768px){
    .imgContainer img{
        width: 960px;
    }
}