*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  padding-top: 63px;
}

@media screen and (min-width: 768px){
  body {
    padding-top: 100px
  }
}